body {
    background-color: black;
    scroll-behavior: smooth;
    color: white;
}

html {
    scroll-behavior: smooth;
}



.nav-bar {
    background-color: rgb(53, 53, 230);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.nav-bar h1{
    font-size: 2.5rem;
    cursor: default;
    color: aliceblue;
}

.nav-bar h2{
    font-size: 1.8rem;
    cursor: default;
    color: aliceblue;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links li {
    font-size: 2rem;
    cursor: pointer;
    color: aliceblue;
}

.intro {
    padding: 2rem;
    width: 50%;
    font-size:1.8rem;
}

/* LOGOUT STYLING */
.logout-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    visibility: hidden;
    pointer-events: none;
}

.logout-popup-wrap {
    background-color: aliceblue;
    padding: 2rem;
    border-radius: .5rem;
    color: black;
}

.logout-popup-wrap h1{
    font-size: 2rem;
}

.logout-btn-op {
    background-color: black;
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.logout-btn-op:hover {
    background-color: rgb(73, 73, 73);
    outline: solid white 1px;
}

.logout-popup-wrapper.active {
    visibility: visible;
    pointer-events: auto;
}

/*CREATE PROJECT SECTION STYLING*/

.create-project-section {
    padding: 1rem;
    margin-top: 4rem;
}

.create-project-section h1{
    color: white;
    font-size: 3rem;
}

.create-project-form {
    color: white;
    border: solid white 2px;
    padding: 1rem;
    border-radius: .5rem;

}

.create-project-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 2.5rem;
}

.create-project-form label {
    font-size: 1.5rem;
}

.create-project-form input {
    outline: solid 1px white;
    padding: .5rem;
    border-radius: .5rem;
}

.project-description {
    resize: none;
    outline: solid 1px white;
    padding: .5rem;
    border-radius: .5rem;
}

.project-select {
    outline: solid 1px white;
    padding: .5rem;
    border-radius: .5rem;   
}

.create-project-btn {
    background-color: rgb(1, 48, 179);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.error {
    color: red;
}

/* PROJECTS SECTION STYLING */

.projects-section {
    color: white;
    padding: 2rem;
    margin-top: 6rem;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.projects-title{
    color: white;
    font-size: 3rem;
}

.project-wrap {
    border: solid 1px white;
    padding: 1rem;
    border-radius: .5rem;
}

.project-wrap h1{
    font-size: 1.5rem;
    margin:.5rem;
}
.project-wrap p{
    margin:.5rem;
}

.project-wrap button{
    background-color: rgb(53, 53, 230);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

/* CREATE TEAM PAGE STYLING */

.create-team-wrapper {
    padding: 2rem;
}

.create-team-form input, textarea {
    outline: white 1px solid;
    border-radius: .5rem;
    padding: .5rem;
}

.create-team-wrapper h1{
    font-size: 2.5rem;
    color: rgb(53, 53, 230);
    font-weight: 600;
}

.create-team-btn {
    background-color: rgb(60, 60, 247);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}

/* TEAMS SECTION STYLE */

.teams-section {
    padding: 1rem;
    margin-top: 6rem;
}

.teams-wrapper {
    border: solid 2px white;
    padding: 1rem;
    border-radius: .5rem;
}

.teams-option-wrapper {
    display: flex;
    gap: 1rem;
    
    
    padding: 1rem;
}

.teams-option-wrapper li {
    font-size: 1.5rem;
    border-right: solid 1px white;
    padding-right: 1rem;
    cursor: pointer;
}

.teams-option-wrapper li:hover {
    color: rgb(60, 60, 247);
}

.teams-list-wrap {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.team-container {
    padding: 1rem;
    border: 1px solid rgb(168, 168, 168);
}

.team-container button{
    background-color: rgb(60, 60, 247);
    color: white;
    padding: 2px 8px;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}

/* TEAM OVERVIEW STYLING */

.team-overview-wrapper {
    padding: 1rem;
}

.team-overview-wrapper span{
    font-size: 2rem;
    cursor: pointer;
}

.team-overview-wrapper h1{
    font-size: 2.5rem;
    color: rgb(53, 53, 230);
    font-weight: 600;
}
.team-overview-wrapper label{
    font-weight: 500;
    font-size: 1.1rem;
}

.team-option {
    display:flex; gap:2rem; padding:1rem; cursor: pointer;
}

.team-option a:hover{
    color: rgb(53, 53, 230);
}