body {
    background-color: black;
    color:white;
}

.project-container {
    padding: 2rem;
}

.project-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-view-header button{
    font-size: 1.5rem;
    cursor: pointer;
}

.project-view-flex {
    display: flex;
    gap: 2rem;
}

.project-details {
    padding: 2rem;
    outline: 1px solid white;
    /* width: fit-content; */
    border-radius: .5rem;
    flex: 1;
}

.project-details label{
    font-weight: 600;
}

.project-details input{
    outline: solid 1px white;
    padding: .3rem;
    margin: .2rem;
}

.project-details select{
    outline: solid 1px white;
    padding: .3rem;
    margin: .2rem;
    width: 100%;
}

.project-update-btn {
    background-color: rgb(53, 53, 230);
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem;
}

.comments-container {
    flex: 1;
    outline: 1px solid white;
    /* width: fit-content; */
    border-radius: .5rem;
}

.error {
    color: red;
    font-size: 1rem;
}